!-------------------------!
!          urxvt          !
!-------------------------!

URxvt*iconFile: /usr/share/icons/Numix-Circle/48/apps/terminal.svg

! URxvt.internalBorder: 10
! URxvt.scrollBar:  false
! URxvt.cursorColor:    #d8fbff
! urxvt.font: xft:Monospace Regular:size=12,style=regular
! !xft:Inconsolata:size=16, xft:Font Awesome 5 Free Solid:size=16
! ;URxvt.depth:     32
! ;URxvt.background:    [80]#010010

! urxvt*letterSpace: 0
! urxvt*lineSpace: 0

! derived from
! https://github.com/xero/dotfiles/blob/master/urxvt/.Xdefaults#L27-L54
! author ▓ xero <x@xero.nu>
! code   ▓ http://code.xero.nu/dotfiles
! mirror ▓ http://git.io/.files

! █▓▒░ color scheme
!#include </home/liam/.config/myxthemes/dracula_xresources/dracula.Xcolors>
!#include </home/liam/.config/myxthemes/nord-xresources/src/nord>

! █▓▒░ fonts
!xft:Symbola:pixelsize=14:antialias=true:hinting=slight
!urxvt*font: xft:gohufont:size=11:antialias=false
urxvt.font:     xft:bitstream vera sans mono:size=11:antialias=true
urxvt.boldFont: xft:bitstream vera sans mono:bold:size=11:antialias=true
!urxvt*font: xft:roboto:size=12:antialias=true:hinting=slight
!urxvt*font: xft:envy code r:size=9:antialias=false
!urxvt*font: xft:lemon:size=16:antialias=false
!urxvt*font: xft:lime:size=16:antialias=false
!urxvt*font: xft:neep:size=11:antialias=false
!urxvt*font: xft:perfect dos vga 437:size=11:antialias=false
!urxvt*font: xft:tewi:size=11:antialias=false

urxvt*boldFont: xft:creep:size=12:antialias=true
urxvt*italicFont: xft:creep:size=12:antialias=true
urxvt*bolditalicFont: xft:creep:size=12:antialias=true

urxvt*letterSpace: 0
urxvt*lineSpace: 0

! █▓▒░ interface
urxvt*scrollBar: false
!urxvt*transparent: true

! https://wiki.archlinux.org/index.php/Rxvt-unicode/Tips_and_tricks#True_transparency
! where '80' is the opacity level in percentage and '#000000' is the background color. !
URxvt.shading: 110
URxvt.*depth: 32
URxvt.background: [80]#000000

! urxvt*internalBorder: 10
! urxvt*borderColor: #1c1c1c
! urxvt*borderLess:false

! █▓▒░ extensions
URxvt*perl-lib: /home/liam/.urxvt
URxvt*perl-ext: unichr,matcher,-selection
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

! urxvt.perl-ext-common: default,clipboard,keyboard-select,url-select
! urxvt.keysum.M-u: perl:url-select:select_next
! urxvt.url-select.autocopy: true
! urxvt.url-select.launcher: firefox
! urxvt.keysym.M-Escape: perl:keyboard-select:activate
! urxvt.keysym.M-c:   perl:clipboard:copy
! urxvt.keysym.C-v:   perl:clipboard:paste
! urxvt.keysym.M-C-v: perl:clipboard:paste_escaped
! urxvt.clipboard.copycmd:  xsel -ib
! urxvt.clipboard.pastecmd: xsel -ob

! █▓▒░ misc
urxvt.saveLines: 9999
urxvt.iso14755: false
!URxvt*altSendsEscape: true

! https://ctkarch.org/documentation/tutorials/tuto.php?page=urxvt-transpa.xml
! urxvt*depth: 32
! urxvt*background: rgba:0000/0000/0200/c800




!---------------------------!
!          general          !
!---------------------------!

! special
!*.foreground:   #d8fbff
*.background:   #010010
*.foreground:       #ffffff#

! black
*.color8:       #555555
*.color0:       #000000

! red
*.color9:       #FF5555
*.color1:       #AA0000

! green
*.color10:       #55FF55
*.color2:      #00AA00

! yellow
*.color11:       #FFFF55
*.color3:      #AA5500

! blue
*.color12:       #5555FF
*.color4:      #0000AA

! magenta
*.color13:       #FF55FF
*.color5:      #AA00AA

! cyan
*.color14:       #55FFFF
*.color6:      #00AAAA

