! bindsym $mod+d exec rofi -show run -lines 3 -eh 2 -width 1920 -padding 450 -opacity "90" -bw 0 -bc "#2f343f" -bg "#2f343f" -fg "#b0b9c6" -hlbg "#2f343f" -hlfg "#ffffff" -font "System San Francisco Display 18"

!rofi -show run -lines 3 -eh 2 -width 1000 -padding 10 -opacity "90" -bw 0 -bc "#2f343f" -bg "#2f343f" -fg "#b0b9c6" -hlbg "#2f343f" -hlfg "#ffffff" -font "System San Francisco Display 12"

! Enabled modi
rofi.modi:                           window,run,ssh
! Window opacity
rofi.opacity:                        90
! Window width
rofi.width:                          50
! Number of lines
rofi.lines:                          15
! Number of columns
rofi.columns:                        1
! Font to use
rofi.font:                           mono 12
! Foreground color
rofi.fg:                             #b0b9c6
! Background color
rofi.bg:                             #2f343f
! Foreground color for active row
rofi.fg-active:                      #b0b9c6
! Foreground color for urgent row
rofi.fg-urgent:                      #b0b9c6
! Foreground color for highlighted active row
rofi.hlfg-active:                    #b0b9c6
! Foreground color for highlighted urgent row
rofi.hlfg-urgent:                    #b0b9c6
! Background color for active row
rofi.bg-active:                      #2f343f
! Background color for urgent row
rofi.bg-urgent:                      #2f343f
! Background color for highlighted active row
rofi.hlbg-active:                    #2f343f
! Background color for highlighted urgent row
rofi.hlbg-urgent:                    #2f343f
! Background color for alternating row
rofi.bgalt:                          #2f343f
! Foreground color for highlighted row
rofi.hlfg:                           #b0b9c6
! Background color for highlighted row **********************
rofi.hlbg:                           #586E75
! Border color
rofi.bc:                             #2f343f
! Use extended color scheme
rofi.color-enabled:                  false
! Color scheme for normal row
rofi.color-normal:                   #fdf6e3,#002b36,#eee8d5,#586e75,#eee8d5
! Color scheme for urgent row
rofi.color-urgent:                   #fdf6e3,#dc322f,#eee8d5,#dc322f,#fdf6e3
! Color scheme for active row
rofi.color-active:                   #fdf6e3,#268bd2,#eee8d5,#268bd2,#fdf6e3
! Color scheme window
rofi.color-window:                   #fdf6e3,#002b36
! Border width
rofi.bw:                             1
! Location on screen
rofi.location:                       0
! Padding
rofi.padding:                        5
! Y-offset relative to location
rofi.yoffset:                        0
! X-offset relative to location
rofi.xoffset:                        0
! Always show number of lines
rofi.fixed-num-lines:                false
! Terminal to use
rofi.terminal:                       xfce4-terminal
! Ssh client to use
rofi.ssh-client:                     ssh
! Ssh command to execute
rofi.ssh-command:                    {terminal} -e {ssh-client} {host}
! Run command to execute
rofi.run-command:                    {cmd}
! Command to get extra run targets
rofi.run-list-command:
! Run command to execute that runs in shell
rofi.run-shell-command:              {terminal} -e {cmd}
! Disable history in run/ssh
rofi.disable-history:                false
! Use levenshtein sorting
rofi.levenshtein-sort:               false
! Set case-sensitivity
rofi.case-sensitive:                 false
! Enable sidebar-mode
rofi.sidebar-mode:                   false
! Set lazy filter limit
rofi.lazy-filter-limit:              15000
! Row height (in chars)
rofi.eh:                             1
! Enable auto select mode
rofi.auto-select:                    false
! Parse hosts file for ssh mode
rofi.parse-hosts:                    false
! Parse known_hosts file for ssh mode
rofi.parse-known-hosts:              true
! Set the modi to combine in combi mode
rofi.combi-modi:                     window,run
! Do a more fuzzy matching
rofi.fuzzy:                          false
! Use glob matching
rofi.glob:                           false
! Tokenize input string
rofi.tokenize:                       true
! Monitor id to show on
rofi.m:                              -1
! Margin between rows
rofi.line-margin:                    2
! Pre-set filter
rofi.filter:
! Separator style (none, dash, solid)
rofi.separator-style:                dash
! Hide scroll-bar
rofi.hide-scrollbar:                 false
! Show markup
rofi.markup-rows:                    false
! Fullscreen
rofi.fullscreen:                     false
! Fake transparency
rofi.fake-transparency:              false
! DPI
rofi.dpi:                            -1
! Pidfile location
rofi.pid:                            /run/user/1000/rofi.pid
! Keybinding
rofi.kb-primary-paste:               Control+Shift+v,Shift+Insert
! Keybinding
rofi.kb-secondary-paste:             Control+v,Insert
! Keybinding
rofi.kb-clear-line:                  Control+u
! Keybinding
rofi.kb-move-front:                  Control+a
! Keybinding
rofi.kb-move-end:                    Control+e
! Keybinding
rofi.kb-move-word-back:              Alt+b
! Keybinding
rofi.kb-move-word-forward:           Alt+f
! Keybinding
rofi.kb-move-char-back:              Left,Control+b
! Keybinding
rofi.kb-move-char-forward:           Right,Control+f
! Keybinding
rofi.kb-remove-word-back:            Control+Alt+h
! Keybinding
rofi.kb-remove-word-forward:         Control+Alt+d
! Keybinding
rofi.kb-remove-char-forward:         Delete,Control+d
! Keybinding
rofi.kb-remove-char-back:            BackSpace,Control+h
! Keybinding
rofi.kb-accept-entry:                Control+j,Control+m,Return,KP_Enter
! Keybinding
rofi.kb-accept-custom:               Control+Return
! Keybinding
rofi.kb-accept-entry-continue:       Shift+Return
! Keybinding
rofi.kb-mode-next:                   Shift+Right,Control+Tab
! Keybinding
rofi.kb-mode-previous:               Shift+Left,Control+Shift+Tab
! Keybinding
rofi.kb-toggle-case-sensitivity:     grave,dead_grave
! Keybinding
rofi.kb-delete-entry:                Shift+Delete
! Keybinding
rofi.kb-row-left:                    Control+Page_Up
! Keybinding
rofi.kb-row-right:                   Control+Page_Down
! Keybinding
rofi.kb-row-up:                      Up,Control+p,Shift+Tab,Control+k
! Keybinding
rofi.kb-row-down:                    Down,Control+n,Control+j
! Keybinding
rofi.kb-row-tab:                     Tab
! Keybinding
rofi.kb-page-prev:                   Page_Up
! Keybinding
rofi.kb-page-next:                   Page_Down
! Keybinding
rofi.kb-row-first:                   Home,KP_Home
! Keybinding
rofi.kb-row-last:                    End,KP_End
! Keybinding
rofi.kb-row-select:                  Control+space
! Keybinding
rofi.kb-cancel:                      Escape
! Keybinding
rofi.kb-custom-1:                    Alt+1
! Keybinding
rofi.kb-custom-2:                    Alt+2
! Keybinding
rofi.kb-custom-3:                    Alt+3
! Keybinding
rofi.kb-custom-4:                    Alt+4
! Keybinding
rofi.kb-custom-5:                    Alt+5
! Keybinding
rofi.kb-custom-6:                    Alt+6
! Keybinding
rofi.kb-custom-7:                    Alt+7
! Keybinding
rofi.kb-custom-8:                    Alt+8
! Keybinding
rofi.kb-custom-9:                    Alt+9
! Keybinding
rofi.kb-custom-10:                   Alt+0
! Keybinding
rofi.kb-custom-11:                   Alt+Shift+1
! Keybinding
rofi.kb-custom-12:                   Alt+Shift+2
! Keybinding
rofi.kb-custom-13:                   Alt+Shift+3
! Keybinding
rofi.kb-custom-14:                   Alt+Shift+4
! Keybinding
rofi.kb-custom-15:                   Alt+Shift+5
! Keybinding
rofi.kb-custom-16:                   Alt+Shift+6
! Keybinding
rofi.kb-custom-18:                   Alt+Shift+8
! Keybinding
rofi.kb-custom-17:                   Alt+Shift+7
! Keybinding
rofi.kb-custom-19:                   Alt+Shift+9
! Keybinding
rofi.key-window:                     Alt+i,Alt+Tab
! Keybinding
rofi.key-run:                        Alt+o
! Keybinding
rofi.key-ssh:                        Alt+p

!-------------------------!
!          urxvt          !
!-------------------------!

URxvt*iconFile: /usr/share/icons/Numix-Circle/48/apps/terminal.svg

! URxvt.internalBorder: 10
! URxvt.scrollBar:  false
! URxvt.cursorColor:    #d8fbff
! urxvt.font: xft:Monospace Regular:size=12,style=regular
! !xft:Inconsolata:size=16, xft:Font Awesome 5 Free Solid:size=16
! ;URxvt.depth:     32
! ;URxvt.background:    [80]#010010

! urxvt*letterSpace: 0
! urxvt*lineSpace: 0

! derived from
! https://github.com/xero/dotfiles/blob/master/urxvt/.Xdefaults#L27-L54
! author ▓ xero <x@xero.nu>
! code   ▓ http://code.xero.nu/dotfiles
! mirror ▓ http://git.io/.files

! █▓▒░ color scheme
!#include </home/liam/.config/myxthemes/dracula_xresources/dracula.Xcolors>
#include </home/liam/Downloads/xresources/Xresources>
!#include </home/liam/.config/myxthemes/nord-xresources/src/nord>

! █▓▒░ fonts
!xft:Symbola:pixelsize=14:antialias=true:hinting=slight
!urxvt*font: xft:gohufont:size=11:antialias=false
urxvt*font: -*-creep-regular-*-*--16-*-*-*-*-*-*-1
urxvt*font: -*-lime-*-*-*--11-*-*-*-*-*-*-1
urxvt*font: xft:creep:size=12:antialias=true
urxvt.font:     xft:bitstream vera sans mono:size=11:antialias=true
urxvt.boldFont: xft:bitstream vera sans mono:bold:size=11:antialias=true
!urxvt*font: xft:roboto:size=12:antialias=true:hinting=slight
!urxvt*font: xft:envy code r:size=9:antialias=false
!urxvt*font: xft:lemon:size=16:antialias=false
!urxvt*font: xft:lime:size=16:antialias=false
!urxvt*font: xft:neep:size=11:antialias=false
!urxvt*font: xft:perfect dos vga 437:size=11:antialias=false
!urxvt*font: xft:tewi:size=11:antialias=false

urxvt*boldFont: xft:creep:size=12:antialias=true
urxvt*italicFont: xft:creep:size=12:antialias=true
urxvt*bolditalicFont: xft:creep:size=12:antialias=true

urxvt*letterSpace: 0
urxvt*lineSpace: 0

! █▓▒░ interface
urxvt*scrollBar: false
!urxvt*transparent: true

! https://wiki.archlinux.org/index.php/Rxvt-unicode/Tips_and_tricks#True_transparency
! URxvt*shading: 0 to 99 darkens, 101 to 200 lightens
URxvt.shading: 110
URxvt.depth: 32
URxvt.background: rgba:1111/1111/1111/dddd

! urxvt*internalBorder: 10
! urxvt*borderColor: #1c1c1c
! urxvt*borderLess:false

! █▓▒░ extensions
URxvt*perl-lib: /home/liam/.urxvt
URxvt*perl-ext: unichr,matcher,-selection
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

! urxvt.perl-ext-common: default,clipboard,keyboard-select,url-select
! urxvt.keysum.M-u: perl:url-select:select_next
! urxvt.url-select.autocopy: true
! urxvt.url-select.launcher: firefox
! urxvt.keysym.M-Escape: perl:keyboard-select:activate
! urxvt.keysym.M-c:   perl:clipboard:copy
! urxvt.keysym.C-v:   perl:clipboard:paste
! urxvt.keysym.M-C-v: perl:clipboard:paste_escaped
! urxvt.clipboard.copycmd:  xsel -ib
! urxvt.clipboard.pastecmd: xsel -ob

! █▓▒░ misc
urxvt.saveLines: 9999
urxvt.iso14755: false
!URxvt*altSendsEscape: true

! https://ctkarch.org/documentation/tutorials/tuto.php?page=urxvt-transpa.xml
! urxvt*depth: 32
! urxvt*background: rgba:0000/0000/0200/c800




!---------------------------!
!          general          !
!---------------------------!

! special
*.foreground:   #d8fbff
*.background:   #010010

! black
*.color8:       #555555
*.color0:       #000000

! red
*.color9:       #FF5555
*.color1:       #AA0000

! green
*.color10:       #55FF55
*.color2:      #00AA00

! yellow
*.color11:       #FFFF55
*.color3:      #AA5500

! blue
*.color12:       #5555FF
*.color4:      #0000AA

! magenta
*.color13:       #FF55FF
*.color5:      #AA00AA

! cyan
*.color14:       #55FFFF
*.color6:      #00AAAA

