[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[305A414E5A4111D0]
row=3
col=0

[7AF60DABF60D6929]
row=4
col=0

[8AFE41B2FE41977B]
row=0
col=0

[Trash]
row=5
col=0

[/]
row=1
col=0

[/home/liam]
row=2
col=0

